* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* Header's CSS goes here*/
.fade-in {
    opacity: 0;
    transition: opacity 2.6s;
}
.page-header {
  margin: 0;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid;
}
.page-header.sticky-header-nav {
  width: 100%;
}
.container-max-xl {
  margin-right: auto;
  margin-left: auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.contact-info {
  margin:0;
  text-align: right;
  background-image: linear-gradient(to right, #49e937 , #2f6829);
}
.contact-info {
  position: relative;
}
.contact-text {
    padding: 3px;
    font-size: 10pt;
    color: aliceblue;
}
.contact-text a {
    color: aliceblue;
}
#signUp {
  font-size: 10pt;
  padding-right: 10px;
  padding-left: 10px;
}

.header-navigation {
  height: max-content;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 48px ;
    padding-right: 48px;
}
ul {
  margin: 0;
  padding: 0;
}
ul:hover button {
  opacity: 0.5;
}

ul:hover button:hover {
  opacity: 1;
}

#navlist {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
    margin: 0;
}
#navlist a {
  float: left;
}
#navlist li a:hover {
  text-decoration: underline rgb(255, 255, 255);
}
li {
    display: inline;
    list-style-type: square;
    padding-right: 2px;

}
button {
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 520;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 7px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

/* #navbar-btn:hover {
background-image: linear-gradient(to right, #3da032 , #71fb61);
box-shadow: 0px 15px 20px #3a8232;
color: #fff;
transform: translateY(-9px);
opacity: 0.7;
} */

button:active {
transform: translateY(-0.5px);
}

#navbar {
    position: fixed;
    top: 0px;
}

.carousel-container {
  margin: 0 0 15px 0;
  padding: 0px 0;
  border-top : 2px solid ;
  border-bottom: 2px solid ;
}
.col-sm-4 {
  max-width: 33.1%;
}
.text-container-banner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px !important;
    padding-left: 20px ;
    padding-right: 48px !important;
    padding-bottom: 48px !important;
    padding-top: 230px !important;
    justify-content: flex-start !important;
    display: flex !important;
    z-index: 0;
}
.spacing-reset {
    margin: 0 !important;
    padding: 0 !important;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
.content-default {
    margin: 0;
    position: relative;

}

/* End of Header's CSS*/


/* Section's CSS goes here*/
#carBreezy-cover {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-left: 48px;
  padding-bottom: 48px;
  padding-top: 48px;
  justify-content: flex-end !important;
  display: flex !important;
}
.backgrouund-white {
  background-color: #fff !important;
}

#text-cover {
  position: relative;
  text-align: center;
  padding: 40px !important;
  margin: 0 0 24px 0;
}

.text-container-section {
  text-align: center !important;
}

#search-link-button{
  margin: 0;
  overflow: hidden;
  position: relative !important;
  flex-direction: column !important;
  display: flex !important;
}

#button-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: absolute !important;
  transition-duration: .3s !important;

}

#search-vehicle-2 {
  position: relative !important;
  padding-bottom: 40px !important;
  margin: 0;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  display: flex !important;
}
.btn-primary {
  color: white;
  border-color: #4fb948;
  background: #4fb948;
  padding: 12px 20px;
}

.container {
  max-width: 1920px;
  margin: 0px 0px 40px 0px;
}
#imageSection {
  width: 100%;
}

#viewmore-btn{
  margin: 10px 0;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 520;
    color: #000;
    background-color: #44d134;
    border: none;
    border-radius: 7px;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#viewmore-btn:hover {
  box-shadow: 0px 15px 20px #3a8232;
  transform: translateY(-9px);
  opacity: 1;
}

#visitor-count {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  position: fixed;
  bottom: 24px;
  right: 67px;
  background-color: #44d235;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: justify;
  z-index: 999;
}
 #container-table {
  margin:0 0px ;
  padding: 24px 24px;
 }

#table-index {
  overflow-x:hidden ;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.back-to-top {
  position: fixed;
  bottom: 24px;
  right: 20px;
  /* display: none; */
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 999;
}

.back-to-top:hover {
  background-color: #44d235;
  color: #333;
}
/* End of Section's CSS*/


/* Footer CSS goes here*/
footer {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    clear: both;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .footer-left p, .footer-right ul {
    margin: 0;
    padding: 0;
  }
  
  .footer-links {
    display: flex;
    list-style: none;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #333;
  }
/* End of footer CSS*/  

/* Scrolling ticker CSS */

.ticker {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: #1a1919;
  color: #fff;
  padding: 5px;
  z-index: 999;
}

#ticker-text {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  animation: ticker 20s linear infinite;
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* End Ticker Scrolling CSS*/

/*Login css*/
.loginContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 132px;
  margin-top: 30px;
}

.loginForm {
  margin-right: 20px;
  box-sizing: border-box;
  padding: 20px 20px;
  width: 40%;
  min-height: 550px;
  border-radius: 5%;
  border: 2px green solid;
  background-color: white;
}

.loginForm button {
  padding: 10px 20px;
  border-radius: 10px;
}

.loginForm h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30pt;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

@media (max-width: 800px) {
  div.loginImg {
      display: none;
  }

  div.loginForm {
      flex: 100%;
  }
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-twitter {
  background: #55acee;
  color: white;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.socialIcon a {
  text-decoration: none;
  text-align: center;
}

.socialIcon p {
  font-size: 10pt;
  font-style: italic;
  margin-top: 10pt;
}
/*End Login css*/