* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.main{
  margin-top: 130px;
}
/* Header's CSS goes here*/
.page-header {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid;
}
.page-header.sticky-header-nav {
  width: 100%;
}
.container-max-xl {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.contact-info {
  margin:0;
  text-align: right;
  background-image: linear-gradient(to right, #49e937 , #2f6829);
}
.contact-info {
  position: relative;
}
.contact-text {
    padding: 3px;
    font-size: 10pt;
    color: aliceblue;
}
.contact-text a {
    color: aliceblue;
}
#signUp {
  font-size: 10pt;
  padding-right: 10px;
  padding-left: 10px;
}

.header-navigation {
    height: max-content;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 48px ;
    padding-right: 48px;
}
ul {
  margin: 0;
  padding: 0;
}
ul:hover button {
  opacity: 0.5;
}

ul:hover button:hover {
  opacity: 1;
}

#navlist {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
    margin: 0;
}
#navlist a {
  float: left;
}
#navlist li a:hover {
  text-decoration: underline rgb(255, 255, 255);
}
li {
    display: inline;
    list-style-type: square;
    padding-right: 2px;

}
button {
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 520;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 7px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

/* #navbar-btn:hover {
background-image: linear-gradient(to right, #3da032 , #71fb61);
box-shadow: 0px 15px 20px #3a8232;
color: #fff;
transform: translateY(-9px);
opacity: 0.7;
} */

button:active {
transform: translateY(-0.5px);
}

#navbar {
    position: fixed;
    top: 0px;
}
.text-container-banner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px !important;
    padding-left: 20px ;
    padding-right: 48px !important;
    padding-bottom: 48px !important;
    padding-top: 230px !important;
    justify-content: flex-start !important;
    display: flex !important;
    z-index: 0;
}
.spacing-reset {
    margin: 0 !important;
    padding: 0 !important;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
.content-default {
    margin: 0;
    position: relative;

}

/* End of Header's CSS*/
.searchBar{
  padding: 5px 0 0 40px;
  margin-top: 20px;
  width: 100%;
}

@import "compass/css3";

.searchBar input[type=text] {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  border-radius: 4px; 
  padding: 4px; 
  width: 94%;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
.searchBar input[type=text]:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(26, 151, 45);
}

/* Section's CSS goes here*/
#carBreezy-cover {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-left: 48px;
  padding-bottom: 48px;
  padding-top: 48px;
  justify-content: flex-end !important;
  display: flex !important;
}
.backgrouund-white {
  background-color: #fff !important;
}

#text-cover {
  position: relative;
  text-align: center;
  padding: 40px !important;
  margin: 0 0 24px 0;
}

.text-container-section {
  text-align: center !important;
}
.spacing-reset {
    margin: 0 !important;
    padding: 0 !important;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
.content-default {
    margin: 0;
    position: relative;

}
/*End of Header CSS*/


.section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
}
#text-cover {
  position: relative;
  text-align: center;
  padding: 40px !important;
  margin: 0 0 24px 0;
}
.text-container-banner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px !important;
  padding-left: 160px ;
  padding-right: 48px !important;
  padding-bottom: 48px !important;
  padding-top: 195px !important;
  justify-content: flex-start !important;
  display: flex !important;
  z-index: 0;
}
.text-container-section {
  text-align: center !important;
}

.card {
  display: flex;
  float: left;
  width: 330px;
  height: 500px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 20px ;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 15px;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media (max-width: 600px) {
  .card {
    flex: 100%;
  }
}

.card h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.card p {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
  color: #555;
  text-align: left;
}


 .vehicle-information{
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 }
 .name-model {
  margin-bottom: 0px;
  margin-top: 0 !important;
  min-height: 51px;
}
.vehicle-information {
  display: flex;
  align-items: left;
  /* justify-content: space-between; */
}

#brand-info {
  font-size: 18px;
  font-weight: 560;
  margin-top: 5px;
  margin-bottom: 0;
  color: #4eb947;
}

#model-info {
  font-weight: 600;
  color: #4eb947;
  font-size: 23px;
}

#price-info {
  font-size: 24px;
  font-weight: 530;
  align-items: flex-end;
  margin: 0;
}

#tab-content {
  margin: 10px 0;
}

#vehicle-description{
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align:left;
  overflow-x: hidden;
  padding: 2px 0;
  text-overflow: ellipsis;
  break-inside: avoid;
}

#vehicle-description #col-left {
  width: 60%;
}


/* #visitor-count {
  position: fixed;
  bottom: 18px;
  right: 67px;
  background-color: #44d235;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: justify;
} */

/* .back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
} */

/* .back-to-top:hover {
  background-color: #44d235;
  color: #333;
} */

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.popup-text {
  display: block;
  width: 100%;
}
/* Footer CSS goes here*/
footer {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 40px 0;
  text-align: center;
  clear: both;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.footer-left p, .footer-right ul {
  margin: 0;
  padding: 0;
}

.footer-links {
  display: flex;
  list-style: none;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #333;
}
/* End of footer CSS*/ 
/* Scrolling ticker CSS */

.ticker {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: #1a1919;
  color: #fff;
  padding: 5px;
}

#ticker-text {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  animation: ticker 20s linear infinite;
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.filterBar {
  padding: 20px 0 0 0;
  font-size: 16pt;
}
.filterBar li {
  display: block;
}
/* End Ticker Scrolling CSS*/