* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.main{
  margin-top: 130px;
}

.searchBar{
  padding: 5px 0 0 40px;
  margin-top: 20px;
  width: 100%;
}

@import "compass/css3";

.searchBar input[type=text] {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  border-radius: 4px; 
  padding: 4px; 
  width: 94%;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
.searchBar input[type=text]:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(26, 151, 45);
}

/* Section's CSS goes here*/
#carBreezy-cover {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-left: 48px;
  padding-bottom: 48px;
  padding-top: 48px;
  justify-content: flex-end !important;
  display: flex !important;
}
.backgrouund-white {
  background-color: #fff !important;
}

#text-cover {
  position: relative;
  text-align: center;
  padding: 40px !important;
  margin: 0 0 24px 0;
}

.text-container-section {
  text-align: center !important;
}
.spacing-reset {
    margin: 0 !important;
    padding: 0 !important;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
.content-default {
    margin: 0;
    position: relative;

}
/*End of Header CSS*/


.section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
}
#text-cover {
  position: relative;
  text-align: center;
  padding: 40px !important;
  margin: 0 0 24px 0;
}
.text-container-banner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px !important;
  padding-left: 160px ;
  padding-right: 48px !important;
  padding-bottom: 48px !important;
  padding-top: 195px !important;
  justify-content: flex-start !important;
  display: flex !important;
  z-index: 0;
}
.text-container-section {
  text-align: center !important;
}

.card {
  display: flex;
  float: left;
  width: 330px;
  height: 500px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 20px ;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 15px;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media (max-width: 600px) {
  .card {
    flex: 100%;
  }
}

.card h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.card p {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
  color: #555;
  text-align: left;
}


 .vehicle-information{
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 }
 .name-model {
  margin-bottom: 0px;
  margin-top: 0 !important;
  min-height: 51px;
}
.vehicle-information {
  display: flex;
  align-items: left;
  /* justify-content: space-between; */
}

#brand-info {
  font-size: 18px;
  font-weight: 560;
  margin-top: 5px;
  margin-bottom: 0;
  color: #4eb947;
}

#model-info {
  font-weight: 600;
  color: #4eb947;
  font-size: 23px;
}

#price-info {
  font-size: 24px;
  font-weight: 530;
  align-items: flex-end;
  margin: 0;
}

#tab-content {
  margin:0;
}

#vehicle-description{
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align:left;
  overflow-x: hidden;
  padding: 2px 0;
  text-overflow: ellipsis;
  break-inside: avoid;
  min-height: 86px;
}

#vehicle-description #col-left {
  width: 60%;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.popup-text {
  display: block;
  width: 100%;
}

#addToCart {
  margin-top: 20px;
}

.filterBar {
  position: fixed;
  top: auto;
  left: 10px;
  width: 100%;
  background-color: #fff;
  z-index: 0;
}

#shopping-cart {
  display: none;
  position: fixed;;
  background-color: #ffffff;
  padding: 10px;
  z-index: 2;
  width: 700px;
  border: 1px solid #333;
  border-radius: 5px;
}

#shopping-cart table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
}

#shopping-cart th {
  background-color: #46dc36;
  color: #ffffff;
  padding: 10px;
}

#shopping-cart td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

#shopping-cart .quantity {
  display: inline-block;
  width: 50px;
  text-align: center;
}

#shopping-cart .decrease-btn, #shopping-cart .increase-btn {
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

#shopping-cart .decrease-btn:hover, #shopping-cart .increase-btn:hover {
  background-color: #46dc36;
  color: #333;
}

.remove-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 2px 2px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}



/* Footer CSS goes here*/
footer {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  clear: both;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.footer-left p, .footer-right ul {
  margin: 0;
  padding: 0;
}

.footer-links {
  display: flex;
  list-style: none;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #333;
}
/* End of footer CSS*/ 
/* Scrolling ticker CSS */

.ticker {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: #1a1919;
  color: #fff;
  padding: 5px;
}

#ticker-text {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  animation: ticker 20s linear infinite;
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.filterBar {
  padding: 20px 0 0 0;
  font-size: 16pt;
}
.filterBar li {
  display: block;
}
/* End Ticker Scrolling CSS*/