<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.8.2/angular-route.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CDN end-->
  <script src="./JS/script.js"></script>
  <script src="./JS/controller.js"></script>
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/stylesProduct.css" />
  <title>Inventory</title>
  <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.png" />
</head>

<body ng-app="myApp" ng-controller="customersCtrl">
  <div class="main">
    <!--Search bar-->
    <div class="container">
      <div class="col-sm-2"></div>
      <div class="col-sm-10 searchBar">
        <input ng-model="searchtxt" type="text" placeholder="Search your car ..." />
      </div>
    </div>
    <!--End of Search bar-->

    <!--Filter and display img-->
    <div class="container">
      <!--Filter-->
      <div class="col-sm-2">
        <div class="filterBar">
          <h3 style="font-weight: 600; padding-bottom: 30px; font-size: 18pt;">Filter :</h3>
          <ul style="font-size: 15pt;">
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="SUV" />
              <label for="SUV">SUV</label>
            </li>
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="Convertibles" />
              <label for="Convertibles">Convertibles</label>
            </li>
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="Coupe" />
              <label for="Coupe">Coupe</label>
            </li>
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="Truck" />
              <label for="Truck">Truck</label>
            </li>
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="Hatchbacks" />
              <label for="Hatchbacks">Hatchbacks</label>
            </li>
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="Sedan" />
              <label for="Sedan">Sedan</label>
            </li>
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="Other" />
              <label for="Other">Other</label>
            </li>
            <li>
              <input type="radio" name="filterRadio" data-ng-model="filterRadio" value="" />
              <label for="Sedan">All</label>
            </li>
            <li>
              <label for="sortPrice">Sort: </label>
              <select ng-model="sortPrice">
                <option value="-price">Decrease by price</option>
                <option value="price">Increase by price</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <!--End of filter-->

      <!--Display img-->
      <section class="section-1 col-sm-10" style="padding-left: 20px">

        <div class="card" ng-repeat="x in cars | filter:filterRadio | filter:searchtxt | orderBy:sortPrice">
          <div id="carouselExampleControls-{{x.id}}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" ng-click="openModal(x)">
              <div class="carousel-item active">
                <img src=".{{ x.img1 }}" class="d-block w-100" alt="img1" />
              </div>
              <div class="carousel-item">
                <img src=".{{ x.img2 }}" class="d-block w-100" alt="img2" />
              </div>
              <div class="carousel-item">
                <img src=".{{ x.img3 }}" class="d-block w-100" alt="img3" />
              </div>
            </div>
            <button style="z-index: 0" class="carousel-control-prev" type="button"
              data-target="#carouselExampleControls-{{x.id}}" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
              <span class="sr-only">Previou </span>
            </button>
            <button style="z-index: 0" class="carousel-control-next" type="button"
              data-target="#carouselExampleControls-{{x.id}}" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"> </span>
              <span class="sr-only">Nex </span>
            </button>
          </div>
          <div class="vehicle-information" ng-click="openModal(x)">
            <div>
              <h2 class="name-model">
                <p id="brand-info">{{ x.brand }}</p>
                <p id="model-info">{{ x.model }}</p>
              </h2>
              <p id="price-info">{{ x.price | currency:$:0 }}</p>
            </div>

            <div id="tab-content">
              <table id="vehicle-description">
                <tr>
                  <td>OOD: {{ x.ODD }}</td>
                  <td id="col-left">Color: {{ x.color }}</td>
                </tr>
                <tr style="height: 10px;background-color: #FFFFFF;" class="blank_row">
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td>Seat: {{ x.seats }}</td>
                  <td id="col-left">Transmission: {{ x.transmission }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="font-weight: 600;color: #4eb947;" id="exampleModalLabel">{{
                  selectedCar.brand }} {{ selectedCar.model }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times </span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-sm-12" style="margin-bottom: 20px;"><img style="width: 100%;"
                    src=".{{ selectedCar.img1 }}" alt=""></div>
                <div class="col-sm-6">
                  <ul>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Brand: </span> {{ selectedCar.brand }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Model: </span>{{ selectedCar.model }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Status: </span>{{ selectedCar.status }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Type: </span>{{ selectedCar.type }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">OOD: </span>{{ selectedCar.ODD }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Color: </span> {{ selectedCar.color }}</li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Seats: </span>{{ selectedCar.seats }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Transmission: </span>{{
                      selectedCar.transmission }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Engine: </span>{{ selectedCar.engine }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">VIN: </span>{{ selectedCar.VIN }}</li>
                    <li class="popup-text"><span style="font-weight: 650;padding-right:3px ;">Price: </span>{{ selectedCar.price | currency:$:0 }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End of display img-->
    </div>
    <!--End of filter and display img-->
  </div>
  <!-- <button class="back-to-top">^</button> -->
  <button ng-click="scrollToTop()" class="back-to-top">
    ^
  </button>
  <footer>
    <div class="footer-container">
      <div class="footer-left">
        <p>Copyright &copy; 2023 Your Company Name</p>
      </div>
      <div class="footer-right">
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>